* {
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@media (max-width: 1169px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
}
@font-face {
  font-family: "Proxima Nova Semibold";
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "../fonts/Proxima Nova Light";
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Proxima Nova Light", sans-serif;
  color: #262626;
}

.button-o {
  border: 2px solid #e17250;
  padding: 17px 22px;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Proxima Nova Semibold", sans-serif;
  color: #e17250;
  background-color: white;
}

.button {
  padding: 25px 45px;
  text-transform: uppercase;
  border: none;
  background-color: #e17250;
  color: white;
  font-family: "Proxima Nova Semibold", sans-serif;
}

.bgsec {
  background-color: #f1f1f1;
}

.input {
  height: 80px;
  padding-left: 30px;
  border: 1px solid #dddddd;
}

@media (max-width: 576px) {
  .button-o {
    font-size: 10px;
  }
}
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
}
.navbar-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__mobile, .navbar__landline {
  text-align: right;
}
.navbar__phone {
  display: block;
  margin-bottom: 5px;
  font-size: 19px;
  font-family: "Proxima Nova Semibold", sans-serif;
  text-decoration: none;
  color: #262626;
}
.navbar__small-text {
  display: block;
  font-size: 14px;
  color: #7b7b7b;
  text-decoration: none;
}

.menu {
  position: fixed;
  z-index: 0;
  top: 80px;
  left: 0;
  width: 100%;
  padding: 16px 0;
  background-color: #e17250;
  color: white;
  transition: 0.4s;
  transform: translateY(-300px);
}
.menu_active {
  transform: translateY(-300px);
}
.menu__nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu__link {
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  color: white;
}
.menu-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-right: 1px solid rgba(135, 68, 47, 0.1);
  border-left: 1px solid rgba(135, 68, 47, 0.1);
  height: 80px;
  width: 70px;
}
.menu-button__line {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #e17250;
  margin: 2px 0;
}

.logo__text {
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Proxima Nova Semibold", sans-serif;
}
.logo__description {
  display: block;
  font-size: 14px;
  color: #7b7b7b;
}

@media (max-width: 991px) {
  .navbar__mobile, .navbar__landline {
    display: none;
  }
}
@media (max-width: 576px) {
  .logo {
    display: none;
  }
  .menu {
    top: 80px;
    height: 36%;
  }
  .menu__nav {
    flex-direction: column;
  }
  .menu__link {
    margin-bottom: 20px;
  }
}
@media (max-width: 991px) {
  .hero {
    background-size: cover;
    background-position: top left 20%;
  }
}
.hero {
  background: url("../img/hero-bg.png") no-repeat center top 80px;
  background-size: cover;
  background-color: #f1f1f1;
  padding-top: 180px;
  padding-bottom: 270px;
}
.hero__title {
  font-size: 30px;
  font-family: "Proxima Nova Light", sans-serif;
  color: #fff;
  margin-bottom: 40px;
}
.hero__subtitle {
  display: block;
  font-size: 30px;
  font-family: "Proxima Nova Semibold", sans-serif;
  color: #fff;
  margin-bottom: 67px;
}

.offer {
  padding: 129px 0;
}
.offer-block {
  background: url("../img/form-bg.png") no-repeat center right;
  background-size: contain;
  background-color: #fff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  padding: 80px;
  margin-top: -220px;
}
.offer__title {
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Proxima Nova Semibold", sans-serif;
  margin-bottom: 20px;
}
.offer__subtitle {
  display: block;
  font-size: 21px;
  margin-bottom: 48px;
}

.form__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin-bottom: 48px;
}
.form__row-last {
  max-width: 900px;
  display: flex;
  justify-content: center;
}
.form__lable {
  margin-bottom: 15px;
  display: block;
  font-size: 17px;
}
.form__group {
  flex-basis: 33.33%;
}
.form__input {
  width: 100%;
  border-right: none;
}
.form__input-last {
  width: 100%;
}
.form__button {
  height: 80px;
  width: 100%;
}

@media (max-width: 1169px) {
  .offer-block {
    background-position: center right -120px;
  }
}
@media (max-width: 768px) {
  .offer-block {
    background: none;
    background-color: #fff;
  }
  .form__row {
    flex-direction: column;
  }
  .form__group {
    flex-basis: 100%;
    width: 100%;
  }
  .form__input {
    margin-bottom: 20px;
    border: 1px solid #dddddd;
  }
}/*# sourceMappingURL=style.css.map */